<a href="https://colab.research.google.com/github/Pratick9/Flipkart_Payment_Reconcillation/blob/main/Flipkart_Payment_Reconcillation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
from tabulate import tabulate
df = pd.read_csv('/content/Flipkart_Payment.csv')

In [79]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SKU     739 non-null    object
 1   Sale    792 non-null    float64
 2   Return  739 non-null    object
dtypes: float64(1), object(2)
memory usage: 18.7+ KB
None

In [80]:
# Fill null values in the "SKU" column with "NA"
df['SKU'].fillna('NA', inplace=True)

# Count the number of null values in the "SKU" column (after filling)
null_sku_count = df['SKU'].isnull().sum()

# Print the number of null values in the "SKU" column (after filling)
print("Number of null values in the SKU column (after filling):", null_sku_count)

Number of null values in the SKU column (after filling): 0

In [103]:
import pandas as pd

# Get unique SKUs
unique_skus = df['SKU'].unique()
sal = 0
# Iterate over unique SKUs
for sku in unique_skus:
    # Filter rows matching the SKU
    sku_rows = df[df['SKU'] == sku]

    # Count sales with a value greater than 0
    filtered_df = sku_rows[(sku_rows['Sale'] > 0) & (sku_rows['Return'] == 'Done')]
    sales_count = len(filtered_df)
    # If there are any sales, print the SKU and "Done"
    if sales_count > 0:
        # print(f"SKU: {sku}, \nSales: {sales_count}")    To get individual uncomment
        sal+=sales_count
print("Total Sales for checking :",sal)

Total Sales for checking : 257

In [102]:
import pandas as pd
check=0

# Fill null values in the "SKU" column with "NA"
df['SKU'].fillna('NA', inplace=True)

# Define the list of SKUs and their corresponding categories
sku_category_list = [
    ('M_BLK_34', 'Blazer'),('M_NB_36','Blazer'),('M_RB_BLK_M','2_Eco'),('100JAGADAMBACOLLECTION_ Bow Tie','Bow'),('Manoxo_WC_R_Blue_42','Eco'),('M_BTSH_XXL','T-shirt'),
    ('JagdambaBlackRoyalBlueRedTie', 'Tie'),('M_GermBlue_Shinning_L','HM'),('100JAGDAMBACOLLECTION_40','Blazer'),('M_BLK_48','Blazer'),
     ('M_BLK_36','Blazer'),('M_NB_40','Blazer'),('Manoxo_Black_38','Blazer'),('Manoxo_WC_N_Blue_40','Eco'),('Manoxo_WC_Brown_40','Eco'),('100Jagdambacollection_WC_36','Eco'),
      ('M_NTSH_M','T-shirt'),('M_GermBlue_Shinning_M','HM'),('Manoxo_WC_Marooon_42','Eco'),('Manoxo_Black__44','Blazer'),('Manoxo_WC_Black_40','Eco'),('M_BLK_50','Blazer'),('M_MARN_BLK_M','2_Eco'),
       ('M_WSTH_XXL','T-shirt'),('M_NTSH_XXL','T-shirt'),('100JAGADAMBACOLLECTION_BLUE 38','Blazer'),('M_GTSH_XXL','T-shirt'),('M_RBTSH_XL','T-shirt'),('M_BLK_44','Blazer'),('Manoxo_WC_R_Blue_36','Eco'),
    ('Jagdambacollection_hankie','3-Hankie'),('Jagda_mahroontie','Tie'),('Manoxo_WC_Black_42','Eco'),('Manoxo_black_46_','Blazer'),('Manoxo_Black_36','Blazer'),('100JAGDAMBACOLLECTION_BLUE_34','Blazer'),
    ('M_NSTH_3XL','T-shirt'),('M_NB_48','Blazer'),('M_WSTH_M','T-shirt'),('M_BLK_42','Blazer'),('M_WSTH_XL','Blazer'),('Manoxo_Black_48__','Blazer'),('M_BLK_38','Blazer'),('M_BLK_40','Blazer'),
     ('Manoxo_Black_40','Blazer'),('100JAGADAMBACOLLECTION_BLUE 40','Blazer'),('Manoxo_WC_N_Blue_42','Eco'),('Manoxo_WC_Black_38','Eco'),('M_NB_46','Blazer'),('M_BLK_46','Blazer'),('M_Combo_5_M','5_Eco'),
    ('Manoxo_Black_32','Blazer'),('100JAGDAMBACOLLECTION_32','Blazer'),('MANOXOCOLLECTION_Blue_38','Blazer'),('Manoxo_WC_Black_38','Eco'),('JAGDAMBACOLLECTION_ TIE','Tie'),('M_NB_34','Blazer'),('M_NB_42','Blazer'),
    ('Manoxo_Black_42','Blazer'),('M_NB_32','Blazer'),('M_Blk_Shinning_L','HM'),('M_GTSH_S','T-shirt'),('M_GTSH_M','T-shirt'),('M_Wine_Shinning_S','HM'),('M_NB_44','Blazer'),('Manoxo_Black_34','Blazer'),
    ('M_Mar_Shinning_XL','HM'),('Manoxo_WC_Black_36','Eco'),('M_RSTH_XXL','T-shirt')

    # Add more SKU-category pairs as needed
]

# Create a dictionary to map SKUs to their categories
sku_category_dict = dict(sku_category_list)

# Group the data by category
grouped_df = df.groupby(df['SKU'].map(sku_category_dict))

# Iterate over each category
for category, category_df in grouped_df:
    # Filter rows with sales greater than 0 and return Done value
    filtered_df = category_df[(category_df['Sale'] > 0) & (category_df['Return'] == 'Done')]
    # sales_count = len(filtered_df)
    # filtered_df = category_df[category_df['Sale'] > 0]
    count = filtered_df.shape[0]

    print(f"Category: {category}, Count of Sales --> {count}")
    check+=count
print("Total Sales for checking :",check)

Category: 2_Eco, Count of Sales --> 2
Category: 3-Hankie, Count of Sales --> 1
Category: 5_Eco, Count of Sales --> 1
Category: Blazer, Count of Sales --> 157
Category: Bow, Count of Sales --> 3
Category: Eco, Count of Sales --> 20
Category: HM, Count of Sales --> 6
Category: T-shirt, Count of Sales --> 21
Category: Tie, Count of Sales --> 46
Total Sales for checking : 257

In [104]:
total_sale = df['Sale'].sum()
total_sale

44668.520000000004